<ul>
  <% if ::Refinery::GoogleForms::Admin::GoogleFormsController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.google_forms_admin_google_forms_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_google_forms_admin_google_form_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? && ::Refinery::GoogleForms::Admin::GoogleFormsController.sortable? && ::Refinery::GoogleForms::GoogleForm.any? %>
  <li>
    <%= link_to t('.reorder', :what => "Google Forms"),
                 refinery.google_forms_admin_google_forms_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Google Forms"),
                 refinery.google_forms_admin_google_forms_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
