<% content_for :body do %>
  <ul id="google_forms">
    <% @google_forms.each do |google_form| %>
      <li>
        <%= link_to google_form.name, refinery.google_forms_google_form_path(google_form) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
